<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue';

const date = new Date();

const leadingZeros = (value) => {
    return (`0${value}`).slice(-2);
}

const updateDateTime = () => {
  const date = new Date();
  dateTime.value.date = `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`;
  dateTime.value.time = `${leadingZeros(date.getHours())}:${leadingZeros(date.getMinutes())}:${leadingZeros(date.getSeconds())}`;
}

const dateTime = ref({
  date: `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`,
  time: `${leadingZeros(date.getHours())}:${leadingZeros(date.getMinutes())}:${leadingZeros(date.getSeconds())}`
});

onMounted(() => {
  const timer = setInterval(() => {
    updateDateTime();
  }, 1000);
});

onBeforeUnmount(() => {
  clearInterval(timer);
});
</script>

<template>
  <div class="container">
    <h1>Bonjour !</h1>
    <p>Nous sommes le {{dateTime.date}} et il est {{dateTime.time}}</p>    
  </div>
</template>